 <!DOCTYPE html>
<html lang="en">

<head>
    <title>Pet Adoption Home</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'search/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include "navbar.html" %}
    
    <p>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
</body>

</html> 