 <!DOCTYPE html>
<html lang="en">

<head>
    <title>Pet Adoption Home</title>

    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'search/style.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% include "navbar.html" %}
    
    <h1>The password has been changed!</h1>
    <p><a href="{% url 'login' %}">log in again?</a></p>   
</body>

</html> 