 <!DOCTYPE html>
<html lang="en">

<head>
	<title>Pet Adoption Home</title>

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'adopt/style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="flex_container">
		{% if cat_list %}
		    {% for cat in cat_list %}
	        	<figure>
	        		<a href="{% url 'adopt:detail' cat.id %}">
	        			<img src="{{ cat.image.url }}" alt="{{ cat.name }}" style="width:100%;height:100%;">
	        		</a>

	        		<figcaption>
	        			"{{ cat.name }}, {{ cat.get_age_display }}, {{ cat.get_sex_display }}"
	        		</figcaption>
	        	</figure>
		    {% endfor %}
		{% else %}
		    <p>No pets are available :(</p>
		{% endif %}
	</div>
</body>

</html>