 <!DOCTYPE html>
<html lang="en">

<head>
	<title>Pet Adoption Home</title>

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'adopt/style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{% include "adopt/navbar.html" %}

	<h2>{{ cat.name }}</h2>
	<img src="{{ cat.image.url }}" width=400px height=400px alt="{{ cat.name }}">

	<p>
		{{ cat.get_sex_display }}, {{ cat.get_age_display }}, {{ cat.get_color_display }}<br>

		{% if cat.is_vaccinated %}
			Vaccinated
			<br>
		{% endif %}
		
		{% if cat.is_sterilized %}
			Sterilized
			<br>
		{% endif %}
		
		{% if cat.is_house_trained %}
			House-trained
		{% endif %}
	</p>

	<footer>
		<a href="https://www.freepik.com/free-vector/blank-white-notepaper-design_16397306.htm
		#query=diary%20page&position=0&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik
	</footer>
</body>

</html> 