 <!DOCTYPE html>
<html lang="en">

<head>
<title>Pet Adoption Home</title>
{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<link rel="stylesheet" href="{% static 'adopt/style.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<h1 id="H">Home</h1>
<h2>Nyao!</h2>

<p>
You can <b>adopt</b> pets here. Our motto is <q>Treat all the heckin pets with love!</q> <br>
We made this page using <abbr title="Hyper Text Markup Language">HTML</abbr>!
</p>

<blockquote>
Pronunciation of the feline language has distinct characteristics depending on the region and may differ slightly from the following information. This could be considered comparable to dialects in the human tongue.
<br>
In addition, since the number of elongated vowel sounds (indicated by the ~ character) are intimately related to a cat's personality and emotional state, there is quite a broad range of variation. 	
</blockquote>

<p title="maou">This is another <a href="https://www.w3schools.com">paragraph</a>.</p>

<a href="https://www.marxists.org/archive/marx/works/1847/wage-labour/ch01.htm"
   title="Become the marxist..."
>
	<img src="{% static 'adopt/nazrin_dance.gif' %}" style="float:right;width:80px;height:80px;" alt="no img meow">
	Maou
</a>

<p> Communicate with us: </p>
<address>
6o lykeio volou
</address>

<button onclick="document.location='{% static 'adopt/nazrin_dance.gif' %}'">HTML Tutorial</button> 
<br>
<pre>







</pre>
<a href="#H">Only a simple memory remains...</a>

<table>
<caption> Sneed </caption>

<tbody>
<tr>
	<td> </td>
	<th> A </th>
	<th colspan="2"> B </th>
	<th colspan="3"> C </th>
</tr> 

<tr>
	<td> X </th>
	<td> Chuck </td>
	<td> Sneed </td>
	<td> Farmer </td>
	<td> Jose </td>
	<td> Chaos </td>
	<td> Jack </td>
</tr>

<tr>
	<td> Y </th>
	<td> Amogus </td>
	<td> Morbius </td>
	<td> Myon </td>
	<td> Wuv </td>
	<td> U </td>
	<td> ! </td>
</tr>
</tbody>
</table> 

 <ul>
  <li>Coffee</li>
  <li>Tea
    <ul>
      <li>Black tea</li>
      <li>Green tea</li>
    </ul>
  </li>
  <li>Milk</li>
</ul> 

<dl>
	<dt> maou </dt>
	<dd> is maou </dd>

	<dt> miou </dt>
	<dd> is miou </dd>

	<dt> moou </dt>
	<dd> is moou </dd>
</dl>

<iframe src="https://simplicius76.substack.com/p/the-iraq-war-was-a-sham" title="redpill"
        height="200" width="300" 
></iframe>

</body>
</html> 