{% extends "base.html" %}

{% block content %}

<div class="adoption_container">
	{% if has_requests %}
		<div>
			<h3>Approved requests</h3>
			{% if approved_list %}
				<table>
					<thead>
						<tr>
							<th>Cat</th>
							<th>Date</th>
						</tr>
					</thead>

					<tbody>
						{% for request in approved_list %}
							<tr>
								<td><a href="{% url 'cats:adopted_detail' request.cat.id %}">{{ request.cat.name }}</a></td>
								<td>{{ request.datetime }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>

		<div>
			<h3>Pending requests</h3>
			{% if pending_list %}
				<form>
					<table>
						<thead>
							<tr>
								<th>Cat</th>
								<th>Date</th>
								<th>Withdraw?</th>
							</tr>
						</thead>

						<tbody>
							{% for request in pending_list %}
								<tr>
									<td><a href="{% url 'cats:detail' request.cat.id %}">{{ request.cat.name }}</a></td>
									<td>{{ request.datetime }}</td>
									<td><input type="checkbox" id="{{ request.id }}" name="to_delete" value="{{ request.id }}"></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

					<br>
					
					<button type="button" onclick="send_deletion_request()">Withdraw</button>
					<div id="delete_error_msg"></div>
				</form>
			{% endif %}
		</div>

		<div>
			<h3>Rejected requests</h3>
			{% if rejected_list %}
				<table>
					<thead>
						<tr>
							<th>Cat</th>
							<th>Date</th>
							<th>Reason</th>
						</tr>
					</thead>

					<tbody>
						{% for request in rejected_list %}
							<tr>
								<td>{{ request.cat.name }}</td>
								<td>{{ request.datetime }}</td>
								<td>{{ request.reason }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endif %}
		</div>
	{% else %}
		<p>You haven't made any adoption requests!</p>
	{% endif %}
</div>
{% endblock %}

{% block scripts %}

{% csrf_token %}
<script>
const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

function send_deletion_request() {
	var ids_to_delete = [];
	var delete_checkboxes = document.getElementsByName("to_delete");

	// Get the ids to delete
	for (const checkbox of delete_checkboxes) {
		if (checkbox.checked)
			ids_to_delete.push(["to_delete", checkbox.value]);
	}

	// If no requests were selected, don't send any request to
	// the server, and instead show an error message to the user
	if (ids_to_delete.length == 0) {
		document.getElementById("delete_error_msg").innerHTML = "You must select some requests to delete!";
		return;
	}

	// Post the deletion request
	const request = new Request(
	    "{% url 'adopt:delete_adoption' %}",
	    {
	    	body: new URLSearchParams(ids_to_delete),
	        method: 'POST',
	        headers: {'X-CSRFToken': csrftoken},
	        mode: 'same-origin',
	        redirect: 'follow'
	    }
	);

	fetch(request)
	.then(response => {
		// Redirect to the url returned by the server
		window.location.replace(response.url);
    })
    .catch(function(err) {
        console.log(err + " url: " + url);
    });
}
</script>
{% endblock %}