 <!DOCTYPE html>
<html lang="en">

<head>
	<title>Pet Adoption Home</title>

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'adopt/style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{% include "adopt/navbar.html" %}

	<form>
		<span class="form_label">Age:</span>
		<span class="radio_container">
			{% for age in age_choices %}
				<input type="radio" id="{{ age }}" name="age" value="{{ age }}" onchange="fetch_results()">
				<label for="{{ age }}">{{ age }}</label>
			{% endfor %}
		</span><br>

		<span class="form_label">Sex:</span>
		<span class="radio_container">
			{% for sex in sex_choices %}
				<input type="radio" id="{{ sex }}" name="sex" value="{{ sex }}" onchange="fetch_results()">
				<label for="{{ sex }}">{{ sex }}</label>
			{% endfor %}
		</span><br>

		<label class="form_label" for="color">Color:</label>
	  	<select id="color" name="color" onchange="fetch_results()">
	  		{% for color in color_choices %}
		    	<option value="{{ color }}">{{ color }}</option>
		    {% endfor %}
	  	</select><br>

		<input type="checkbox" id="vaccinated" name="vaccinated" onchange="fetch_results()">
		<label class="form_label" for="vaccinated">Vaccinated</label><br>

		<input type="checkbox" id="house_trained" name="house_trained" onchange="fetch_results()">
		<label class="form_label" for="house_trained">House-trained</label><br>

		<input type="checkbox" id="sterilized" name="sterilized" onchange="fetch_results()">
		<label class="form_label" for="sterilized">Sterilized</label><br><br>
	</form>

	<!-- Empty section that will be filled by the Javascript -->
	<div id="results"></div>
	
	<footer>
		<a href="https://www.freepik.com/free-vector/blank-white-notepaper-design_16397306.htm
		#query=diary%20page&position=0&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik
	</footer>

	<script>
		function get_radio_checked(radio) {
			for (const choice of radio) {
				if (choice.checked)
					return choice.value;
			}
		}

		function fetch_results() {
			var age = get_radio_checked(document.getElementsByName("age"));
			var sex = get_radio_checked(document.getElementsByName("sex"));
			
			var color = document.getElementById("color").value;

			var is_vaccinated = document.getElementById("vaccinated").checked;
			var is_house_trained = document.getElementById("house_trained").checked;
			var is_sterilized = document.getElementById("sterilized").checked; 

			fetch(`{% url 'adopt:search_results' %}?age=${age}&sex=${sex}&color=${color}` + 
				  `&vaccinated=${is_vaccinated}&house_trained=${is_house_trained}&sterilized=${is_sterilized}`)
			.then(response => {
				console.log(response);
				return response.text();
			})
			.then(html => {
				document.getElementById("results").innerHTML = html;    
			})
			.catch(err => {
				console.error(err);
				document.getElementById("results").innerHTML = "Search failed...";
			});
		}
	</script>
</body>

</html> 