{% extends "base.html" %}

{% block logo %}{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}

<div class="flex_container">
	{% if cat_list %}
	    {% for cat in cat_list %}
        	<figure>
        		<a href="{% url 'cats:detail' cat.id %}">
        			<img src="{{ cat.image.url }}" alt="{{ cat.name }}" style="width:100%;height:100%;">
        		</a>

        		<figcaption>
        			"{{ cat.name }}, {{ cat.get_age_display }}, {{ cat.get_sex_display }}"
        		</figcaption>
        	</figure>
	    {% endfor %}
	{% else %}
	    <p>No pets are available :(</p>
	{% endif %}
</div>

{% endblock %}

{% block footer %}{% endblock %}