{% extends "base.html" %}

{% block logo %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<div id="display_container">
	{% if cat_list %}
	    {% for cat in cat_list %}
        	<div class="cat_display">
        		<a href="{% url 'cats:detail' cat.id %}">
        			<img src="{{ cat.image.url }}" alt="{{ cat.name }}">
        		</a>
        		<span class="cat_name">{{ cat.name }}</span>
        	</div>
	    {% endfor %}
	{% else %}
	    <p>No pets are available :(</p>
	{% endif %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}