{% extends "base.html" %}

{% block content %}

<form>
	<label class="form_label">Age:</label>
	<span class="checkbox_container">
		{% for age in age_choices %}
			<input type="checkbox" id="{{ age }}" name="age" value="{{ age }}" onchange="fetch_results()">
			<label for="{{ age }}">{{ age }}</label>
		{% endfor %}
	</span>
	<button type="button" onclick="set_all_checkboxes_by_name('age')">All</button>
	<button type="button" onclick="reset_checkboxes_by_name('age')">Reset</button>
	<br>

	<label class="form_label">Sex:</label>
	<span class="checkbox_container">
		{% for sex in sex_choices %}
			<input type="checkbox" id="{{ sex }}" name="sex" value="{{ sex }}" onchange="fetch_results()">
			<label for="{{ sex }}">{{ sex }}</label>
		{% endfor %}
	</span>
	<button type="button" onclick="set_all_checkboxes_by_name('sex')">All</button>
	<button type="button" onclick="reset_checkboxes_by_name('sex')">Reset</button>
	<br>

  	<label class="form_label">Color:</label>
  	<span class="checkbox_container">
		{% for color in color_choices %}
			<input type="checkbox" id="{{ color }}" name="color" value="{{ color }}" onchange="fetch_results()">
			<label for="{{ color }}">{{ color }}</label>
		{% endfor %}
	</span>
	<button type="button" onclick="set_all_checkboxes_by_name('color')">All</button>
	<button type="button" onclick="reset_checkboxes_by_name('color')">Reset</button>
	<br>

	<input type="checkbox" id="vaccinated" name="vaccinated" onchange="fetch_results()">
	<label class="form_label" for="vaccinated">Must be vaccinated</label><br>

	<input type="checkbox" id="house_trained" name="house_trained" onchange="fetch_results()">
	<label class="form_label" for="house_trained">Must be house-trained</label><br>

	<input type="checkbox" id="sterilized" name="sterilized" onchange="fetch_results()">
	<label class="form_label" for="sterilized">Must be sterilized</label><br><br>
</form>

<!-- Empty section that will be filled by the Javascript -->
<div id="results"></div>

{% endblock %}

{% block scripts %}

window.onload = (event) => {
    fetch_results();
};

function get_checked(name) {
	var checked_values = [];
	var checkbox_group = document.getElementsByName(name);

	for (const choice of checkbox_group) {
		if (choice.checked)
			checked_values.push([name, choice.value]);
	}

	return checked_values;
}

function reset_checkboxes_by_name(name) {
	var checkbox_group = document.getElementsByName(name);

	for (const choice of checkbox_group) {
		choice.checked = false;
	}

	// Call fetch_results to apply the condition reset to the results
	fetch_results();
}

function set_all_checkboxes_by_name(name) {
	var checkbox_group = document.getElementsByName(name);

	for (const choice of checkbox_group) {
		choice.checked = true;
	}

	// Call fetch_results to apply the condition change to the results
	fetch_results();
}

function fetch_results() {
	var age_checked = get_checked("age");
	var sex_checked = get_checked("sex");
	var color_checked = get_checked("color");

	var vaccinated = ["vaccinated", document.getElementById("vaccinated").checked];
	var house_trained = ["house_trained", document.getElementById("house_trained").checked];
	var sterilized = ["sterilized", document.getElementById("sterilized").checked];

	var param_list = age_checked.concat(sex_checked).concat(color_checked);
    param_list.push(vaccinated);
    param_list.push(house_trained);
    param_list.push(sterilized);

	var searchParams = new URLSearchParams(param_list);

	console.log(searchParams);

	fetch(`{% url 'search:results' %}?${searchParams.toString()}`)
	.then(response => {
		console.log(response);
		return response.text();
	})
	.then(html => {
		document.getElementById("results").innerHTML = html;    
	})
	.catch(err => {
		console.error(err);
		document.getElementById("results").innerHTML = "Search failed...";
	});
}

{% endblock %}