{% extends "base.html" %}

{% block content %}

<div id="details_container">
	<img src="{{ cat.image.url }}" width=400px height=400px alt="{{ cat.name }}">

	<div>
		<h2>{{ cat.name }}</h2>

		<p>
			Sex: {{ cat.get_sex_display }}<br> 
			Age: {{ cat.get_age_display }}<br>
			Color: {{ cat.get_color_display }}<br>
		</p>

		<p>
			{% if cat.is_vaccinated %}
				Vaccinated: Yes
			{% else %}
				Vaccinated: No
			{% endif %}
			<br>
			
			{% if cat.is_sterilized %}
				Sterilized: Yes
			{% else %}
				Sterilized: No
			{% endif %}
			<br>

			{% if cat.is_house_trained %}
				House-trained: Yes
			{% else %}
				House-trained: No
			{% endif %}
			<br>
		</p>

		{% if user.is_authenticated %}
			{% if view.has_pending_request %}
				<p style="color:red;">You already have a pending request for this cat!</p>
			{% else %}
				<form action ="{% url 'adopt:adopt' cat.id %}" method="post">
					{% csrf_token %}
					<input type="submit" value="Adopt">
				</form>
			{% endif %}
		{% else %}
			<p style="color:red;">You need to login before requesting to adopt a cat!</p>
		{% endif %}
	</div>
</div>

{% endblock %}
