body {
  background-repeat: repeat;
  background-attachment: fixed; 
  background-image: url(images/notebook_bg.jpg);
  background-size: 20% 20%;

  min-height: 100vh;
  margin: 0px;

  display: grid;
  min-height: 100vh;
  grid-template-columns: 320px auto;
  grid-template-rows: auto 1fr auto; 
  grid-template-areas: 
                "header nav"
                "main main"
                "footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

h1 {
  font-family: Arial;
  font-size: 300%;
}

nav {
  grid-area: nav;

  display: flex;
  gap: 20px;
  align-items: center;
}

nav a {
  color: black;
  font-size: 18pt;
  background-color: rgb(108, 169, 185);
  border-radius: 15%;

  padding: 20px;
  margin-bottom: 20px;

  text-decoration: none;
}

nav a:hover {
  background-color: rgb(127, 203, 222);
}

footer {
  grid-area: footer;

  color: black;
  background-color: rgb(108, 169, 185);

  padding-top: 15px;
  padding-bottom: 15px;

  align-self: end;
}

.checkbox_container {
  display: inline-flex;
  font-size: 18pt;
  align-items: center;
}

#display_container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-gap: 30px;
  justify-content: center;

  margin: 10px 10px 20px;
}

.cat_display {
  display: flex;
  flex-direction: column;

  background-color: rgb(108, 169, 185);
  color: black;

  border: 2px solid black;
  border-radius: 8%;
  padding: 5px 5px 5px;
}

.cat_display:hover {
  background-color: rgb(127, 203, 222);
}

.cat_display img {
  width: 8vw;
  height: 8vw;
  border-radius: 8%;
}

.cat_name {
  font-weight: bold;
  font-size: 1vw;
  text-align: center;
}

#details_container {
  display: inline-flex;
  gap: 25px;

  margin: 25px;
}

#details_container > img {
  border: 2px solid black;
  border-radius: 5%;
}

#details_container h2 {
  font-size: 18pt;
}

#details_container p {
  font-size: 14pt;
}

#details_container input[type=submit] {
  border: none;
  border-radius: 15%;

  background-color: rgb(108, 169, 185);
  color: black;
  font-size: 20pt;

  padding: 15px 30px 15px;
  cursor: pointer;
}

#details_container input[type=submit]:hover {
  background-color: rgb(127, 203, 222);
}

#search_container {
  display: flex;
  justify-content: center;
}

#search_container form {
  border: 2px solid black;
  border-radius: 5%;
  padding: 15px 5px 15px;

  background-color: rgb(186, 214, 222);
}

#search_container label {
  font-size: 14pt;
}

#search_container button {
  border: 2pt solid black;
  border-radius: 15%;

  background-color: rgb(108, 169, 185);

  color: black;
  font-size: 11pt;

  padding: 5px 8px 5px;
  cursor: pointer;
}

#search_container button:hover {
  background-color: rgb(127, 203, 222);
}

.account_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.account_form {
  border: 2px solid black;
  border-radius: 5%;
  padding: 15px 5px 15px;

  background-color: rgb(186, 214, 222);
}

.account_form input[type=submit] {
  border: 2px solid black;
  border-radius: 15%;

  background-color: rgb(108, 169, 185);

  color: black;
  font-size: 13pt;

  padding: 5px 10px 5px;
  cursor: pointer;
}

.account_container input[type=submit]:hover {
  background-color: rgb(127, 203, 222);
}

.adoption_container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;

  margin-top: 50px;
}

.adoption_container th {
  padding-right: 20px;
}

.adoption_container th:last-child {
  padding-right: 0px;
}

.adoption_container td {
  padding-right: 20px;
}

.adoption_container td:last-child {
  padding-right: 0px;
}

.adoption_container div {
  background-color: rgb(186, 214, 222);

  border: 2px solid black;
  border-radius: 15px;

  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.adoption_container input[type=submit] {
  border: 2px solid black;
  border-radius: 8px;

  background-color: rgb(108, 169, 185);

  color: black;
  font-size: 13pt;

  padding: 5px 10px 5px;
  cursor: pointer;
}


.adoption_container input[type=submit]:hover {
  background-color: rgb(127, 203, 222);
}