body {
  background-repeat: repeat;
  background-attachment: fixed; 
  background-image: url(images/notebook_bg.jpg);
  background-size: 20% 20%;
  margin: 0px;
}

h1 {
  color: blue;
  font-family: Arial;
  font-size: 300%;
}

nav a {
  background-color: gray;
  color: white;
  float: left;
}

nav a {
  background-color: gray;
  color: white;
  font-size: 25pt;
  padding: 20px;
}

nav a:hover {
  background-color: lightgray;
}

.checkbox_container {
  display: inline-flex;
  font-size: 18pt;
  align-items: center;
}

.nav_container {
  display: flex;
  background-color: gray;
  gap: 20px;
}

.flex_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.form_label {
  font-size: 18pt;
}

figure {
  height: 300px;
  box-sizing: border-box;
  flex: 0 1 15%;
}