<!DOCTYPE html>
<html lang="en">

<head>
	<title>Pet Adoption Home</title>

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'search/style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{% include "navbar.html" %}

	<h1>403 - Forbidden</h1>

    {% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}

	<footer>
		<a href="https://www.freepik.com/free-vector/blank-white-notepaper-design_16397306.htm
		#query=diary%20page&position=0&from_view=keyword&track=ais">Image by rawpixel.com</a> on Freepik
	</footer>
</body>

</html> 