 <!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}Pet Adoption Home{% endblock %}</title>

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	{% block logo %}
	<header>
		<a href="{% url 'index' %}">
			<img src="{% static 'images/logo.png' %}">
		</a>
	</header>
	{% endblock %}
	
	{% block navbar %}
	<nav>
		<a href="{% url 'search:search' %}">Search</a>

		{% if user.is_authenticated %}
			<a href="{% url 'adopt:my_adoptions' %}">My Adoptions</a>
			<a href="{% url 'accounts:logout' %}?next={{ request.path }}">Log out</a>
		{% else %}
			<a href="{% url 'accounts:login' %}?next={{ request.path }}">Sign in</a>
		{% endif %}
	</nav>
	{% endblock %}
	
	<main>
	{% block content %}
	{% endblock %}

	{% block messages %}
	{% if messages %}
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% endblock %}
	</main>
	
	
	{% block footer %}
	<footer>
		<div>
			<a href="https://www.freepik.com/free-vector/blank-white-notepaper-design_16397306.htm
			#query=diary%20page&position=0&from_view=keyword&track=ais">Image by rawpixel.com</a> 

			on Freepik, the cats in the logo are from "Azumanga Daioh".
		</div>
	</footer>
	{% endblock %}
	

	<script>
	{% block scripts %}
	{% endblock %}
	</script>
</body>

</html> 